.body__nav {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 100%;
  padding: 0.2em 0;
  top: 0;
  background-color: var(--background-card);
  z-index: 3;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  height: inherit;
  width: 90%;
}

.nav__li {
  font-size: 3rem;
}

.nav__img {
  width: 7rem;
  cursor: pointer;
}

.nav__li>i{
  cursor: pointer;
}

.nav__li--quantity{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__li--quantity>p{
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
}

.nav__p--quantity{
  position: absolute;
  margin-bottom: 2px;
  margin-left: 8px;

}